<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stormwangxhu.androidbasic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".launchmodes.ActivityLaunchModesTest"
            android:label="This is LaunchModeTest" />
        <activity
            android:name=".commom.MainActiviry"
            android:label="This is MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basedemo.FirstActivity"
            android:label="This is FirstActivity" />
        <activity
            android:name=".basedemo.SecondActivity"
            android:label="This is SecondActivity" />
        <activity
            android:name=".uilayout.LinearLayoutTest"
            android:label="This is LinearLayoutTest" />
        <activity
            android:name=".uilayout.RelativeLayoutTest"
            android:label="This is RelativeLayoutTest" />
        <activity
            android:name=".uilayout.FrameLayoutTest"
            android:label="This is FrameLayoutTest" />
        <activity android:name=".uilayout.PercentFrameLayoutTest" />
        <activity
            android:name=".launchmodes.StandardMode"
            android:label="This is Standard Mode Test"
            android:launchMode="standard" />
        <activity
            android:name=".launchmodes.SingleTopMode"
            android:label="This is SingleTop Task"
            android:launchMode="singleTop" />
        <activity
            android:name=".launchmodes.SingleTaskMode"
            android:label="This is SingleTaskMode Test"
            android:launchMode="singleTask" />
        <activity
            android:name=".launchmodes.SingleInstanceMode"
            android:label="This is SingleInstanceMode Test"
            android:launchMode="singleInstance" />
        <activity
            android:name=".listviewdemo.arrayadapter.ListViewDemoArrayAdapterActivity"
            android:label="This is ListViewDemo" />
        <activity android:name=".listviewdemo.baseadapter.ListViewDemoBaseAdapterActivity" />

        <service
            android:name=".service.servicedemo.MyServiceByStart"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".service.servicedemo.ServiceDemoActivity" />

        <service
            android:name=".service.servicedemo.MyServiceByBind"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".service.threaddemo.ThreadActivity"></activity>
    </application>

</manifest>